---
Checks: |
    modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-avoid-c-arrays,
        -modernize-use-nodiscard,
    isc-*,
    performance-*,
    readability-*,
        -readability-braces-around-statements,
        -readability-implicit-bool-conversion,
        -readability-magic-numbers,
        -readability-isolate-declaration,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
    bugprone-*,
        -bugprone-easily-swappable-parameters,
    concurrency-*,
    portability-*
...
