name: C/C++ CI

on:
  push:
    branches: ['*']
    tags: 
  pull_request:
  release:
    types: ['created', 'edited']
  create:
    tags: ['*']

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {name: "ubuntu-latest", os: ubuntu-latest, cmake_extra: ""}
          - {name: "windows-x64", os: windows-latest, cmake_extra: "-T v140,host=x86"}
          - {name: "windows-32", os: windows-latest, cmake_extra: "-T v140,host=x86 -A Win32"}
          - {name: "macOS-latest", os: macOS-latest, cmake_extra: ""}
      fail-fast: false
    
    steps:
    - uses: actions/checkout@v2
    - name: Configure CMake
      shell: bash
      run: |
           cmake --version
           cmake -S . -B build ${{ matrix.config.cmake_extra }} \
                -DLSL_UNITTESTS=ON \
                -DLSL_BUILD_EXAMPLES=ON \
                -DCPACK_PACKAGE_DIRECTORY=${PWD}/package \
                -DCMAKE_INSTALL_PREFIX=${PWD}/build/install \
                -Dlslgitrevision=${{ github.sha }} \
                -Dlslgitbranch=${{ github.ref }}
    - name: make
      run: cmake --build build --config Release -j --target install
  
    - name: package
      shell: bash
      run: |
           echo $GITHUB_REF
           cmake --build build --config Release -j --target package
           # On Debian / Ubuntu the dependencies can only be resolved for
           # already installed packages. Therefore, we have built all
           # packages without dependencies in the previous step,
           # install them and rebuild them with dependency discovery enabled
           if [[ "${{ matrix.config.os }}" == ubuntu-* ]]; then
              cmake -DCPACK_DEBIAN_PACKAGE_SHLIBDEPS=ON .
              sudo dpkg -i package/*.deb
              cmake --build build --config Release -j --target package
           fi
           cmake -E remove_directory package/_CPack_Packages
    - name: upload install dir
      uses: actions/upload-artifact@master
      with:
        name: build-${{ matrix.config.name }}
        path: build/install

    - name: upload package
      uses: actions/upload-artifact@master
      with:
        name: pkg-${{ matrix.config.name }}
        path: package
    - name: print network config
      shell: bash
      run: |
           which ifconfig && ifconfig
           if [ `which ip` ]; then
              ip link
              ip addr
              ip route
              ip -6 route
           fi
    
    - name: unit tests (internal functions)
      run: build/install/bin/lsl_test_internal --order rand --wait-for-keypress never --durations yes
      timeout-minutes: 5
    
    - name: unit tests (exported functions)
      shell: bash
      run: build/install/bin/lsl_test_exported --order rand --wait-for-keypress never --durations yes
      timeout-minutes: 5
      if: ${{ success() || failure() }}
